{% extends "base.html" %}

{% block page_content %}

<script type="text/javascript">
function newPopup(url) {
  popupWindow = window.open(url,'popUpWindow','height=700,width=1000,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no')
}
</script>

<b><font size=6.5>Check off your favorite recipes, if any:</font></b>
<br />

<form action="/process_favorites" method=post>
{% for key, value in recipe.items() %}
    <a href="JavaScript:newPopup('{{value}}')"><b>{{ key }}</b></a>
    <input type="checkbox" name="{{key}}"  value="{{value}}"><br />
{% endfor %}
<br />
<input id="submit" name="submit" type="submit" value="Add to favorites list" class="btn-lg btn-primary" />
</form>

<br /><br />
<a href="/weather" class="btn btn-warning">Return to Weather</a>

{% endblock %}
